PUERTO_BACKEND=3000
ORIGEN_FRONTEND=http://localhost:4200
SQL_SERVIDOR=localhost
SQL_PUERTO=1433
SQL_BASE_DATOS=TrackingPaquetes
SQL_USUARIO=sa
SQL_CONTRASENA=definir_fuera_del_repositorio
SQL_CIFRAR=false
TOKEN_SECRETO=generar_un_secreto_largo_y_aleatorio
TOKEN_DURACION=8h
ADMIN_INICIAL_NOMBRES=Nombre
ADMIN_INICIAL_APELLIDOS=Apellido
ADMIN_INICIAL_USUARIO=administrador.inicial
ADMIN_INICIAL_CORREO=administrador@example.invalid
ADMIN_INICIAL_CONTRASENA=definir_fuera_del_repositorio
