<section class="pagina pagina-detalle">
  <app-detalle-pedido-vista
    [configuracion]="configuracionDetalle"
    [pedido]="detalleVisual()"
    [cargando]="cargando()"
    [error]="error()"
    [permitirTransferencia]="permitirTransferencia()"
    [transfiriendo]="transfiriendo()"
    [revisionTransferencia]="revisionTransferencia()"
    [revisionRefresco]="revisionRefresco()"
    [tiempoTotal]="tiempoTotal()"
    [mensajeTransferencia]="mensajeTransferencia()"
    (regresar)="regresar()"
    (reintentar)="reintentar()"
    (asignacionesActualizadas)="actualizarAsignaciones($event)"
    (transferirSeleccionados)="transferirSeleccionados($event)"
  />
</section>
